[submodule "src/github.com/Collinux/GoHue"]
	path = src/github.com/Collinux/GoHue
	url = https://github.com/Collinux/GoHue
[submodule "src/github.com/tarm/serial"]
	path = src/github.com/tarm/serial
	url = https://github.com/term/serial
